@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}
/* main-container css start */
.main-container{
    background-color: #1A1C19;
    height: 100%;
    width: 100vw;
    padding: 20px;
}

/* main-container css end */

/*header css start*/
.header-section{
    display: flex;
    justify-content: space-between;
    border: 1px solid #B1A592;
    border-radius: 50px;
    padding: 10px;
    margin-bottom: 20px;
}
.header-section ul li{
    list-style: none;
    padding: 15px 40px;
    border: 1px solid #B1A592;
    border-radius: 50px;
}
.left-sec ul{
    display: flex;
    gap: 10px;
}
.header-section ul li a{
    text-decoration: none;
    font-size: 24px;
    color: #B1A592;
    border: none;
}
#li-1{
    background-color: #323025;
}
#li-2{
    background-color: #B1A592;
}
#li-2 a{
    color: #333333;
}
li:hover{
    background-color: #E0D6C2;
    transition: all 0.8;
}
li:hover a{
    color: #000000 !important;
}

/*header css end*/

/* grid-container css start */

#box1{grid-area: congreve-street; }
#box2{grid-area: europeana; }
#box3{grid-area: portrait-box; }
#box4{grid-area: europeana2; }

.grid-container{
    display: grid;
    grid-template-areas: 'congreve-street congreve-street europeana europeana europeana europeana'
    'congreve-street congreve-street portrait-box portrait-box europeana2 europeana2';
    gap: 10px;
}
.box .img-sec{
    overflow-y: hidden;
    width: 100%;
    border-radius: 30px;
}
.box img{
    width: 100%;
    transition: all 0.9s;
}
.box:hover img{
    transform: scale(1.1);
    transition: all 0.9s;
    border-radius: 50px;
}
#box1{
    background-color: #DFD6C5;
    padding: 20px;  
    border-radius: 20px; 
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: start;
    overflow-y: hidden;
}
#box1 .img-sec,img{
    height: 100%;
    width: 100%;
}
#box1 h2{
    height: 100px;
}
a{
    border: 1px solid #333333;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.04em;
    line-height: 1;
    overflow-y: hidden;
}
h2{
    font-size: 28px;
    overflow-y: hidden
}
hr{
    height: 1px;
    width: 100%;
    border: none;
    background-color: #333333;
}
.public-domain{
    width: 100%;
    border-top: 3px solid #333333;
    border-bottom: 3px solid #333333;
    padding: 15px 0;
}
.public-domain span:nth-child(1){
    margin-right: 80px;
}
.border-lines{
    height: 3px;
    width: 100%;
    background-color: #333333;
}
#box2{
    background-color: #8E886D;
    padding: 20px;
    border-radius: 20px; 
    height: 100%;
    width: 100%;
}
.flex-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.flex-box > .para-sec{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
}

#box2 > hr{
    margin-top: 10px;
}
#box2 > p{
    margin-top: 2rem;
}
#box2 img{
    height: 100%;
}
#box3{
    background-color: #916E58;
    padding: 20px;
    border-radius: 20px; 
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: start;
}
#box3:hover .under-line > div{
    height: 3px;
    width: 40px;
}
#box3:hover .under-line > div{
    background-color: black;
    animation-name: lineanimation;
    animation-duration: 1s;
}
@keyframes lineanimation {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
#box4{
    background-color: #B1A48E;
    padding: 20px;
    border-radius: 20px; 
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: start;
}
.text{
    display: flex;
    align-items: center;
    padding-top: 10px;
}
.grid-box2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}
.grid-box2 > div:nth-child(2){
    display: flex;
    justify-content: end;
}
#box4 .img-sec > img{
    height: 72px;
    width: 72px;
    border-radius: 50px;
}
/* grid-container css end */

/* responsive code start */

@media screen and (max-width:840px) {
    ul li{
        display: none;
    }
    ul #li-1,#li-3{
        display: inline-block;
        overflow-y: hidden
    }
    ul #li-1{
        width: 100vw;
        text-align: center;
    }    
    #box1 h2{
        height: 50px;
    }
   .grid-container{
        grid-template-areas: 'congreve-street congreve-street congreve-street congreve-street congreve-street  congreve-street'
        'europeana europeana europeana europeana europeana europeana'
        'portrait-box portrait-box portrait-box europeana2 europeana2 europeana2';
   }
   #box1 .img-sec{
        height: 240px;
        width: 100%;
        object-fit: cover;
   }

   #box2 .img-sec, #box3 .img-sec{
        height: 280px;
   }
}

@media screen and (max-width:540px) {
    ul li{
        display: none;
    }
    ul #li-1,#li-3{
        display: inline-block;
        text-align: center;
        padding: 5px 10px;
    }
    ul #li-1{
        width: 100vw;
        text-align: center;
    }
    ul #li-3{
        width: 100%;
        height: 100%;
    }
    .para-sec{
        display: flex;
        flex-direction: column;
    }
    .flex-box{
        grid-template-columns: 1fr;
        gap: 15px;
    }
    #box1 h2{
        height: 70px;
    }
   .grid-container{
        display: grid;
        grid-template-areas: 'congreve-street congreve-street congreve-street congreve-street congreve-street  congreve-street'
        'europeana europeana europeana europeana europeana europeana'
        'portrait-box portrait-box portrait-box portrait-box portrait-box portrait-box  '
        'europeana2 europeana2 europeana2 europeana2 europeana2 europeana2';
   }
}
/* responsive code end */